<div class="movie-card">
  <img [src]="movie.poster" [alt]="movie.title" class="movie-image" />
  <div class="movie-info">
    <h3 class="movie-title">{{ movie.title }}</h3>

    <div class="movie-meta">
      <span class="movie-rating"> <i class="fas fa-star"></i> {{ movie.rating }} </span>
      <!-- <span class="movie-duration">{{ movie.duration }}</span> -->
      <span class="movie-year">{{ movie.released }}</span>
    </div>

    <p class="movie-description">
      {{ movie.plot }}
    </p>

    <div class="movie-footer">
      <!-- FIXME: -->
      <!-- <span class="movie-price">${{ movie.price }}</span> -->
      <div class="movie-buttons">
        <button class="details-btn">Detalles</button>
        <button
          class="add-btn"
          (click)="onAddClick(); $event.stopPropagation(); $event.preventDefault()"
        >
          +
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal ahora lo maneja el componente padre (catalog) -->
