<app-navbar></app-navbar>
@if (this.auth.isAdmin$ | async) {
  <app-admin-panel></app-admin-panel>
} @else {
  <router-outlet> </router-outlet>
}
<!-- ======= -->
<!---->
<!-- <!-- Esto es para mostrar la interfaz del admin -->
<!-- <div *ngIf="auth.isAdmin$ | async; else normalApp"> -->
<!--   <app-admin-panel></app-admin-panel> -->
<!-- </div> -->
<!---->
<!-- <ng-template #normalApp> -->
<!--   <app-my-rentals></app-my-rentals> -->
<!--   <router-outlet></router-outlet> -->
<!-- </ng-template> -->
<!-- >>>>>>> origin/Adriangel -->
