<nav class="navbar-container">
  <div class="navbar-left">
    <i class="fas fa-film logo-icon"></i>
    <a routerLink="/" class="brand-name">MoviesGo</a>
  </div>

  <!-- <<<<<<< HEAD -->
  <ul class="navbar-menu">
    <li>
      <a
        routerLink="/catalogo"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="menu-item active"
      >
        <i class="fas fa-home"></i> Catálogo
      </a>
    </li>
    <li>
      <a routerLink="/mis-alquileres" routerLinkActive="active" class="menu-item">
        <i class="fas fa-list"></i> Mis Alquileres
      </a>
    </li>
  </ul>

  <div class="navbar-right">
    <button class="cart-button" aria-label="Carrito de compras">
      <i class="fas fa-shopping-cart"></i>
    </button>
    <div class="user-avatar">
      D
      <!-- TODO: Esto cambiarlo a que agarre la primera letra del nombre del usuario-->
    </div>
    <!-- ======= -->
    @if (!isLoggedIn) {
      <div class="navbar-right">
        <button class="login-btn" (click)="openAuth()">
          <i class="fas fa-user"></i> Iniciar Sesión
        </button>
      </div>
    } @else {
      <div class="navbar-right">
        @if (!(auth.isAdmin$ | async)) {
          <button class="cart-button" aria-label="Carrito de compras">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <div class="user-avatar">{{ userInitial.charAt(0) }}</div>
          <button class="logout-btn" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
          </button>
        }

        <!-- >>>>>>> origin/Adriangel -->
      </div>
    }
    <!-- Para cuando se va a auntenticar -->
  </div>
  @if (showAuth) {
    <app-auth-dialog (closeDialog)="onAuthClose()" (loggedIn)="onLoggedIn()"></app-auth-dialog>
  }
</nav>
