<nav class="navbar-container">
  <div class="navbar-left">
    <i class="fas fa-film logo-icon"></i>
    <a routerLink="/" class="brand-name">MoviesGo</a>
  </div>

  @if (!isLoggedIn) {
    <div class="navbar-right">
      <button class="login-btn" (click)="openAuth()">
        <i class="fas fa-user"></i> Iniciar Sesión
      </button>
    </div>
  } @else {
    <div class="navbar-right">
      @if (!(auth.isAdmin$ | async)) {
        <button
          class="cart-button"
          aria-label="Carrito de compras"
          (click)="toggleCart(); $event.stopPropagation(); $event.preventDefault()"
        >
          <i class="fas fa-shopping-cart"></i>
        </button>
        <div class="user-avatar">{{ auth.buyer?.name?.charAt(0) }}</div>
      }
      <button class="logout-btn" [routerLink]="['/']" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
      </button>

      <!-- >>>>>>> origin/Adriangel -->
    </div>
  }
  <!-- Para cuando se va a auntenticar -->
  @if (showAuth) {
    <app-auth-dialog (closeDialog)="onAuthClose()" (loggedIn)="onLoggedIn()"></app-auth-dialog>
  }
</nav>
